# Forzar la instalación de devDependencies incluso en producción
production=false

# Aumentar el tiempo de espera para redes lentas
network-timeout=60000

# Siempre forzar las instalaciones
force=true

# No guardar en package.json
save=false